<div ng-controller="keyboardCtrl"
     style="text-align:center"
     ng-mousedown="blockEvent($event,'mousedown')"
     ng-mouseup="blockEvent($event,'mouseup')">
    <!--<input type="text" ng-model="textFromVirtualKeyb"-->
           <!--ng-virtual-keyboard="keyBoardConf">-->
    <!--{{displayEvent}}-->
    <!--<div style="clear: both;height: 80px"></div>-->
    <!--<input  type="text" ng-v-key="keysConf" ng-model="textFromVirtualKeyb">-->
    <input type="text" ng-model="keyboardInput" name="keyboardInput" ng-init="showKey=false" ng-click="showKey = !showKey">
    <div style="position: fixed;bottom: 0;z-index:600;width: 100%" ng-show="showKey">
        <div ng-repeat="rows in keysConf">
            <button class="keyb" ng-class="{long : ['bksp','tab','shift','enter','clear','caps'].indexOf(char)>-1,'space':['space'].indexOf(char)>-1}"
                    ng-repeat="char in rows.split(' ')" ng-click="keypress(char,'keyboardInput')">{{char}}
            </button>
        </div>
    </div>
</div>
<style>

</style>