html{
    font-family: arial, helvetica, sans-serif;
}
input {
    font-size: 36px;
    width: 350px;
    height: 80px;
    margin: auto;
    padding: 10px;
}
.ng-v-keyboard-overlay{
    position: fixed;top: 0;z-index:500;height: 100%;width:100%;background: #000;opacity: 0;
}
.ng-v-keyboard-basement{
    position: fixed;bottom: 0;z-index:600;width: 100%;background: #fff
}

.ng-v-keyboard-basement button.bcksp, button.keyb {
    width: 38px;
    font-size: 24px;
    height: 42px;
    background: #ccc;
    border: none;
    margin: 6px;
}

.ng-v-keyboard-basement button.space {
    min-width: 250px;
    text-transform: uppercase;
}

.ng-v-keyboard-basement button.long {
    min-width: 100px;
    text-transform: uppercase;
}

.ng-v-keyboard-basement button.selected,button.alternate,button.alternateOn,button.capsOn {
    background: #004b7a;
    color: #fff;
}

.ng-v-keyboard-basement button.bcksp:active, button.keyb:active {
    background: #444444;
    color: #fff;
}


.ng-v-keyboard-basement input {
    font-size: 36px;
    width: 350px;
    height: 80px;
    margin: auto;
    padding: 10px;
}
